<footer  class="layout-2 footer-layout-04">			
  <!-- social-icon -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="social-links social-links-border social-links--large ">
          <ul>{{ settings.footer_soc_but }}</ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /social-icon --> 
  <!-- footer-copyright -->
  <div class="container footer-copyright">
    <div class="row">
      <div class="col-lg-12 text-center">{{ settings.footer_address }}</div>
    </div>
  </div>
  <!-- /footer-copyright -->			
</footer>